body {
    margin: 0;
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white;
}


h1 {
    text-align: center;
}


#content {
    display: flex;
    justify-content: center;
    align-items: center;
}


table {
    border-collapse: collapse;
    border: 5px solid transparent; /* Transparent für den äußeren Rand der Tabelle */
}


td {
    width: 100px;
    height: 100px;
    border: 4px solid white; /* Weiß für den inneren Rand der Zellen */
    text-align: center;
    font-size: 24px;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}